.container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background);

}

.cards {
  flex: 1 1 0%;
  display: flex;
  /* flex-direction: column; */
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  /* padding: 32px; */
}


.container h1 {
  color: rgb(225, 225, 230);
  margin-bottom: 24px;
  font-size: 3.37rem;
  line-height: 64px;
}

.content .logo img {
  width: 400px;
  padding-right: 20px;

}

.content h2 {
  font-size: 2.25rem;

  margin-top: 5.25rem;
}

.icones {
  display: flex;
  align-items: center;

  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
}

.icones img {
  margin-right:  1.5rem;
}

.icones p {
  color: #FFFFFF;
  opacity: 40%;
}

.content {
  width: 100%;
    max-width: 480px;
    background: var(--background-2);
    border-radius: 5px;
    padding: 54px;
}


.form {
  display: flex;
}
.form input {
  width: 340px;
  height: 50px;

  font-size: 16px;
  background: rgb(18, 18, 20);
  border-color: rgb(18, 18, 20);
  color: rgb(255, 255, 255);

  border-radius: 5px 0px 0 5px;
  margin-right: 4px;
  padding-left: 8px;

}

.form button {
  height: 50px;
  width: 20%;

  background: var(--blue);
  border: none;

  border-radius: 0 4px 4px 0;
  
  transition: all 200ms;
}
.form button:hover {
  background: var(--blue-dark);
}